fastapi
uvicorn[standard]
pydantic
pydantic-settings
SQLAlchemy
asyncpg
alembic
python-dotenv
python-multipart
aiofiles
python-json-logger
pytest>=8.4,<9
httpx==0.28.1
email-validator>=2,<3
PyJWT>=2.8,<3
pytest>=8.4,<9
pytest-asyncio>=0.24,<1
email-validator==2.2.0
ruff==0.8.4
pre-commit==4.0.1

publicsuffix2==2.20191221

